a:link, a:visited {
    background-color: ##f461c6;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #ef40b8;
}

.flex_container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.header{
	font-family: "Raleway";
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


.header_text{

}

.header_logo{
	height: 100px;
	width: 100px;
	padding:10px;
}

.myname{
	text-decoration: none;
	font-size: 300%;
	width: 100%;
	text-align: center;
}

.mydescription{

}

.navbar{
	font-family: "Raleway";
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #f461c6;
	max-width: 100%;
	padding: 5px;
}

.navlist{

}

.navitem{

}

.content{

}

.author{

}

.mainphoto{
	height:100%;
	width: 100%;
	padding:5px;
	display: flex;
	justify-content: center;
}

.projects{
	font-family: "Playfair display";
	display: flex;
	justify-content: space-between;

}

.project {
	max-width: 70%;
}